@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

* {
    box-sizing: boder-box;
    margin: 0px;
    padding: 0px;
    font-family: "Didact Gothic", sans-serif;
}

li, a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #163944;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-start;
    padding: 10px 30%;
}

.logo {
    cursor: pointer;
    font-weight: 500;
    font-size: 120%;
    margin-right: auto;
}

.navbar {
    background-color: #999892;
    border-bottom: double;
}

.navbar-nav {
    display: inline-flex;
    align-items: flex-end;
    margin-left: auto;
}

.container {
    margin: 0 auto;
    position: relative;
    text-align: flex-start;
}

.row {
    align-items: flex-start;
    flex-wrap: wrap;
    display: flex;
    padding: 0 4px;
}

.floatLeft {
    float: left;
    padding: 10px 10px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid darkgray;
    border-radius: none;
    border-style: dashed;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}


input[type=submit] {
    background-color: #8b4343;
    color: white;
    padding: 12px 20px;
    border-width: 1%;
    border-color: darkgray;
    border-radius: 4%;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #582a2a;
}

.container {
    margin-top: 2%;
    border-radius: 4%;
    background-color: lightyellow;
    border-style: double;
    padding: 3%;
    align-items: flex-start;
    justify-content: space-around;
}

.image-grid {
    border-radius: 4%;
    border-style: double;
    border-color: darkgray;
}

.image-grid h3 {
    border:groove;
    border-radius: 4%;
    border-style: double;
    border-left: none;
    border-right: none;
    border-color: darkgray;
    position:center;
    bottom: 0;
    color:#163944;
    background-color:#d1d0ca;
    width: flex;
    line-height: 200%;
    text-align: center;
    vertical-align: middle;
    font-size: 100%;
}

.p {
    justify-content:flex-start;
}